h1 {
    font-family: Pacifico;
}
h2 {
    font-family:Twinkle Star;
    font-size: 12pt;
}
ul {
    font-family: Nanum Pen Script;
    font-size: 16pt;
}

a {
    font-family: Meow Script;
    font-size: 16pt;
}
#picture{
text-align: center;
}