h1 {
    font-family: Pacifico;
}
h2 {
    font-family:Twinkle Star;
    font-size: 12pt;
}
ul {
    font-family: Nanum Pen Script;
    font-size: 16pt;
}

a {
    font-family: Meow Script;
    font-size: 16pt;
}
#picture{
text-align: center;
}

#education{
    background-color: lightgreen;
    text-align: center;
    font-family: Twinkle Star;
    
}

#jobs{
    background-color: orange;
    font-family: Meow Script;
}